<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>SourceApi</servlet-name>
        <servlet-class>api.SourceApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourceApi</servlet-name>
        <url-pattern>/api/v1/source</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticleApi</servlet-name>
        <servlet-class>api.ArticleApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleApi</servlet-name>
        <url-pattern>/api/v1/article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeApi</servlet-name>
        <servlet-class>api.HomeApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeApi</servlet-name>
        <url-pattern>/api/v1/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryApi</servlet-name>
        <servlet-class>api.CategoryApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryApi</servlet-name>
        <url-pattern>/api/v1/category</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>JsonApiFilter</filter-name>
        <filter-class>filter.JsonApiFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JsonApiFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <filter-class>filter.ObjectifyRegisterFilter</filter-class>
    </filter>
    <filter-mapping>
    <filter-name>ObjectifyRegisterFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GetQueue</servlet-name>
        <servlet-class>taskqueue.demo.GetQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQueue</servlet-name>
        <url-pattern>/task/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddQueue</servlet-name>
        <servlet-class>taskqueue.demo.AddQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQueue</servlet-name>
        <url-pattern>/task/add</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>